:root {
  --bg-color: #f5f7fb;
  --dark-blue: #293264;
  --light-blue: #d6dbf5;
  --medium-blue: #4d5b9e;
}

* {
  margin: 0;
  box-sizing: border-box;
  color: var(--dark-blue);
}

body {
  background-color: var(--bg-color);
  font-family: 'karla', sans-serif;
}

.top-blob {
  position: fixed;
  top: 0;
  right: 0;
}

.bottom-blob {
  position: fixed;
  bottom: 0;
  left: 0;
}

h1 {
  margin-bottom: 10px;
}

p {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 1.1rem;
}

button {
  background-color: var(--medium-blue);
  color: white;
  width: 100%;
  height: 60px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  text-align: center;
  font-family: 'Karla', sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: normal;
}

/* Quiz Container Styles */

form {
  width: 100%;
  max-width: 850px;
  margin: 0 auto;
}

.quiz-container {
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.question {
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.option-input.radio {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.optionsContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* .option {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  text-align: center;
  padding: 10px;
  border: 1px solid var(--dark-blue);
  border-radius: 12px;
  font-weight: 500;
  cursor: pointer;
} */

.all-options {
  opacity: 0.5;
}

.selected {
  background-color: var(--light-blue);
  border: none;
}

.correct {
  background-color: #94d7a2;
  opacity: 1;
  border: none;
}

.incorrect {
  background-color: #f8bcbc;
  border: none;
}

.line {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  width: 100%;
  border-bottom: 2px solid #dbdef0;
}

@media (max-width: 768px) {
  .optionsContainer {
    flex-direction: column;
    gap: 15px;
  }
  .top-blob,
  .bottom-blob {
    display: none;
  }
  .option-div {
    width: 100%;
    background-color: red;
  }
}
