:root {
  --bg-color: #F5F7FB;
  --dark-blue: #293264;
  --light-blue: #D6DBF5;
  --medium-blue: #4D5B9E;
}

* {
  margin: 0;
  box-sizing: border-box;
  color: var(--dark-blue);
}

body{
  background-color: var(--bg-color);
  font-family: 'karla', sans-serif;
}

h1 {
 margin-bottom: 10px; 
}

p {
 margin-bottom: 30px;
 font-weight: 400; 
 font-size: 1.1rem;
}

button {
 background-color:var(--medium-blue); 
 color:white; 
 width: 200px;
 height: 60px;
 border:none; 
 border-radius:15px;  
 cursor: pointer;
 text-align: center;
 font-family: 'Karla', sans-serif;
 font-size: 1.4rem;
 font-weight: 500;
 line-height: normal;
}

/* Quiz Container Styles */

form {
  margin-top: 10em;
}

.quiz-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}


.top-blob {
  flex-shrink: 0;
  position: fixed;
  top: 0;
  right: 0;
}

.bottom-blob {
  flex-shrink: 0;
  position: fixed;
  bottom: 0;
  left: 0;
}


#question1 {
  width: 500px;
}

.question {
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.option-input.radio {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.optionsContainer {
  display: flex;
  align-items: center;
}

.option {
  display: inline-block;
  max-width: 200px; 
  width: auto; 
  text-align: center;
  padding: 5px 10px; 
  margin-right: 20px;
  border: 1px solid var(--dark-blue);
  border-radius: 12px;
  font-weight: 500;
  cursor: pointer;
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
}

.all-options {
  opacity: 0.5;
}

.selected{
  background-color: var(--light-blue);
  border: none;
}

.correct {
  background-color: #94D7A2;
  opacity: 1;
  border: none;
}

.incorrect {
  background-color: #F8BCBC;
  border: none;
}

.line{
  /* height: 10px; */
  margin-top: 1.5em;
  margin-bottom: 1.5em ;
  width: 600px;
  border-bottom: 2px solid #DBDEF0;
}